ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
	margin: 0;
	padding: 0;
}
/*------------------------------------GENERAL PAGE STYLING-------------------------------------------*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color:#FAFE66;
	color: #FF3C32;
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 1.6em;
	margin: 0;
	padding: .3em 0;
	line-height: 1.2;
	font-family: "Belgrano", Arial, Helvetica, sans-serif;
	font-weight: normal;
	-webkit-text-stroke-width: 0.3px;
}
p {
	font-size: 1em;
	line-height: 1.5;
	margin: 0;
	padding: .5em 0;
}
#header-wrap,
#main-wrap,
#footer-wrap {
	min-width: 960px;
}
#header-wrap {
	background: #FF3C32;
}

/*---------------------------------HEADER------------------------------------*/
.header{
	padding-top:1.5%;
}
#header-left{
	float:left;
	width: 59%;
}
.menu{
	 float:left;
	 margin: 0;
}
  .menu li{
	display:inline-block;
 }
 .menu li:first-child{
   	margin-left:0;
 }
 .menu li a{
  	display: block;
	font-size: 1.2em;
	text-transform: uppercase;
	padding: 10px 20px;
	color: #FFF;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight: 600;
 }
 .menu li a:hover ,.menu li.active a{
	 background:#FFF;
	 color:#000;
 } 
 #nav .current a {
	 color:red;
}
.toggleMenu {
    display:  none;
  	padding:4px 5px 0px 5px;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
}
@media screen and (max-width:800px) {
	.active {
        display: block;
    }
    .menu li a{
    	text-align:left;
    	border-radius:0;
    	-webkit-border-radius:0;
    	-moz-border-radius:0;
    	-o-border-radius:0;
    }
    .nav {
	    list-style: none;
		width: 95%;
		position: absolute;
		right: 20px;
		background: #222;
		top: 72px;
		z-index: 111;
    }
    .nav:after {
		content: '';
		position: absolute;
		right:18px;
		top: -9px;
		border-left:10px solid rgba(0, 0, 0, 0);
		border-right:10px solid rgba(0, 0, 0, 0);
		border-bottom:10px solid #333;
	}
    .menu li a span.messages{
    	text-align:center;
    	top:15px;
    }
    .nav li ul{
    	width:100%;   	
    }
    .menu ul{
    	margin:0;
    }
    .nav > li.hover > ul {
        width:100%;
    }
    .nav > li {
        float: none;
        display:block;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
    .nav li a{
    	border-top:1px solid #333;
    }
     .nav li:first-child a{
     	border-top:none;
     }
 }
 .header_right{
	float:right;
	width:6%;
	margin-top: 16px;
}
/*------------------------------SEARCH-------------------------------------*/
.sb-search {
	position: fixed;
	top:25px;
	right:0px;
	width: 20%;
	min-width: 45px;
	height: 45px;
	float: right;
}
.sb-search-input {
	position: absolute;
	top: 0;
	left: 0px;
	border: none;
	outline: none;
	width: 100%;
	height:45px;
	margin: 0;
	z-index: 10;
	padding: 5px 100px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #ffffff;
}
.sb-search-submit {
	background: #333;
	border: none;
	outline: none;
	z-index: -1;
	-webkit-appearance: none;
}