ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
	margin: 0;
	padding: 0;
}
/*------------------------------------GENERAL PAGE STYLING-------------------------------------------*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color:#FAFE66;
	color: #FF3C32;
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 1.6em;
	margin: 0;
	padding: .3em 0;
	line-height: 1.2;
	font-family: "Belgrano", Arial, Helvetica, sans-serif;
	font-weight: normal;
	-webkit-text-stroke-width: 0.3px;
}
p {
	font-size: 1em;
	line-height: 1.5;
	margin: 0;
	padding: .5em 0;
}
#header-wrap,
#main-wrap,
#footer-wrap {
	min-width: 960px;
}
#header-wrap {
	background: #FF3C32;
}

/*---------------------------------HEADER------------------------------------*/
#nav{
	background-color:#4A6CC7;
	border:none;
	border-radius:0;
	font-weight: 600;
}
.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	padding: 15px 20px;
	color: #e3e3e3;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/*--------------------------WRAPPER----------------------------*/
.wrapper{
	width:100%;
	padding:10px 80px;
}